<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="reset-password.component.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">DiagnoTech</div>
        <ul class="nav-links">
            <li><a href="home">HOME</a></li>
            <li><a href="about-us">ABOUT</a></li>
            <li><a href="#">SERVICES</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="contact">CONTACT</a></li>
        </ul>
        <div class="auth-links">
            <a href="#" class="login">Login</a>
            <a href="register" class="signup">Sign Up</a>
        </div>
    </nav>
    <div class="reset-password-container">
        <div class="left-section">
            <img src="reset-password.png" alt="Security Illustration" class="illustration">
        </div>
        <div class="right-section">
            <h1>Reset Password</h1>
            <br>
            <p>The verification email was sent. Please check your mailbox.</p>
    

                <form (ngSubmit)="onSubmit()">
                 
                  
                    <div>
                      <label for="newPassword">New password</label>
                      <br>
                      <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
                    </div>
                          
    <br><br>
                <button type="submit" class="send-btn">Send</button>
            </form>
    
            <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
            <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    
            <a routerLink="/login" class="back-to-login">Back to login</a>
        </div>    
    </div>
</body>
</html>